@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('/portfolio/assets/fonts/montserrat-v31-latin-200.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('/portfolio/assets/fonts/montserrat-v31-latin-300.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/portfolio/assets/fonts/montserrat-v31-latin-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('/portfolio/assets/fonts/montserrat-v31-latin-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('/portfolio/assets/fonts/montserrat-v31-latin-800.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('/portfolio/assets/fonts/montserrat-v31-latin-900.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url('/portfolio/assets/fonts/montserrat-v31-latin-regular.woff2') format('woff2');
}

html { scroll-behavior: smooth; }

body {
    /* background-color: var(--background--light, oklch(97.015% 0.00011 271.152)); */
    background: linear-gradient(145deg,rgba(249, 249, 249, 1) 25%, rgba(232, 237, 235, 1) 50%, rgba(249, 249, 249, 1) 75%);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    font-family: var(--font-family-Montserrat, 'Montserrat', sans-serif);
}

h1, h2 {
    color: var(--color--primary);
    margin-block: 0;
    span.color-opposite {
        color: var(--color--opposite, oklch(97.015% 0.00011 271.152));
        -webkit-text-stroke: 2px var(--color--primary);
        paint-order: stroke fill;
    }
}

h1 {
    font-size: var(--h1-size);
    font-weight: var(--font--bold);
    line-height: clamp(3rem, 6vw, 3.5rem);
}

h2 {
    font-size: var(--h2-size);
    line-height: 2.5rem;
}

h3 {
    font-size: var(--h3-size);
    font-weight: 600;
    line-height: 2.25rem;
}

p {
    color: var(--color--primary);
    font-weight: var(--font--semibold, 600);
    line-height: 1.5rem;
    padding-inline-end: .5rem;
    margin-block-start: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
}

section {
    border-radius: var(--border-radius-8, .5rem);
    box-shadow: var(--box-shadow, 0 1px 4px rgba(0, 0, 0, 0.2));
    display: grid;
    gap: var(--spacing--small);
}

@media (min-width: 1024px) {
    section:not(.hero) {
        padding: calc(var(--spacing--large) * 2);
    }
}

.portfolio, .clients {
    background-color: var(--white);
    padding: var(--spacing--medium);
}

.container--grid {
    row-gap: var(--spacing--medium, 1.5rem);
}

@keyframes fade {
    to { scale: 1; opacity: 1; }
}

.animate-on-scroll {
    opacity: 0;
    filter: blur(0.45rem);
    transform: translateX(-100%);
    transition: all 1s;
}

.visible {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (prefers-reduced-motion: reduce) {
    .animate-on-scroll {
        animation: none;
        transition: none;
    }
}

/* #portfolio, #about, #clients {
    scale: 0.5; 
    opacity: 0;
    animation: fade linear forwards;
    animation-timeline: view();
    animation-range: entry;
    animation-duration: .3s;
} */