body {
    background-color: var(--background--light, oklch(97.015% 0.00011 271.152));
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1, h2 {
    color: var(--color--primary);
    margin-block: 0;
    span.color-opposite {
        color: var(--color--opposite, oklch(97.015% 0.00011 271.152));
        -webkit-text-stroke: 2px var(--color--primary);
        paint-order: stroke fill;
    }
}

h1 {
    font-size: var(--h1-size);
    font-weight: var(--font--bold);
    line-height: clamp(3rem, 6vw, 3.5rem);
}

h2 {
    font-size: var(--h2-size);
    line-height: 2.5rem;
}

p {
    color: var(--color--primary);
    font-weight: var(--font--semibold, 600);
    line-height: 1.25rem;
    padding-inline-end: .5rem;
    margin-block-start: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
}

section {
    border-radius: var(--border-radius-8, .5rem);
    box-shadow: var(--box-shadow, 0 1px 4px rgba(0, 0, 0, 0.2));
    display: grid;
    gap: 1.5rem;
}

section:not(.hero) {
    padding: calc(var(--spacing--large) * 2);
}

.portfolio, .clients {
    background-color: var(--white);
    
}

.container--grid {
    row-gap: var(--spacing--medium, 1.5rem);
}