:root {
  --mnml--body--background-color--light: oklch(98.16% 0.002 247.84);
  --mnml--body--background-color--dark: oklch(26.21% 0.009 248.19);
  --mnml--body--text-color--light: oklch(26.21% 0.009 248.19);
  --mnml--body--text-color--dark: oklch(98.16% 0.002 247.84);

  --fn--footer--background-color--light: oklch(94.17% 0.005 247.88);
  --fn--footer--background-color--dark: oklch(16.21% 0.009 248.19);
}
