:root {
  --font-family-Montserrat: 'Montserrat', sans-serif;

  --mnml--body--background-color--light: oklch(100% 0 0);
  --mnml--body--background-color--dark: oklch(26.21% 0.009 248.19);
  --mnml--body--text-color--light: oklch(26.21% 0.009 248.19);
  --mnml--body--text-color--dark: oklch(98.16% 0.002 247.84);

  --spacing--xx-small: 0.5rem;
  --spacing--x-small: 0.75rem;
  --spacing--small: 1rem;
  --spacing--medium: 1.5rem;
  --spacing--large: 2rem;

  --color--primary: oklch(31.317% 0.00004 271.152);
  --color--secondary: oklch(69.501% 0.07346 148.976);
  --color--secondary-hover: oklch(75.0% 0.08 148.976);
  --color--tertiary: oklch(35.618% 0.00004 271.152);
  --off-white: oklch(97.015% 0.00011 271.152);
  --white: oklch(100% 0.00011 271.152);

  --background--light: oklch(98.212% 0.00011 271.152);
  --border-radius-8: .5rem;
  --border-radius-16: 1rem;
  --box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  --btn--background-color: var(--color--opposite);
  --btn--background-color--hover: oklch(0.36 0 0);
  --card-bg: var(--off-white);
  --color--opposite: var(--color--secondary);
  --font--family: 'Montserrat', sans-serif;
  --font--semibold: 600;
  --font--size--16: 1rem;
  --font--size--18: 1.125rem;
  --font--size--20: 1.25rem;
  --font--size--24: 1.5rem;
  --font--size--32: 2rem;
  --font--size--48: 3rem;
  --font--size--64: 4rem;
  --font--bold: bold;
  --text--color--light: var(--off-white);
  --transition: all ease-in-out 0.3s;

  /*Header/Nav */
  --header-height: 4rem;
  --offset-height: 6rem;
  --menu-toggle-color: var(--color--primary);
  --nav-bg: var(--off-white);

  /*Hero */
  /* --hero-bg-color: oklch(91.41% 0.01679 151.395); */
  --hero-height: calc(100vh - var(--offset-height, 6rem));
  --hero-image-bg: oklab(100% 0 -0.00011 / 0.715);
  --h1-size: clamp(3rem, 6vw, 4rem);
  --h2-size: clamp(1.5rem, 6vw, 2.25rem);
  --h3-size: 2rem;
  --h4-size: 1.25rem;
  --p-size: 1rem;

  --fn--footer--background-color--light: var(--background--light);
  --fn--footer--background-color--dark: var(--color--primary);
}

:root[data-theme="dark"] {
  --body--bg-color: linear-gradient(to right bottom, #313131, #353636, #393a3b, #3d3f3f, #414443, #414443, #414443, #414443, #3d3f3f, #393a3b, #353636, #313131);
  --btn--background-color: var(--color--primary);
  --card-bg: var(--color--primary);
  --color--opposite: oklch(97.015% 0.00011 271.152);
  --nav-bg: var(--color--primary);
  --nav-text-color: oklch(100% 0.00011 271.152);
  --hero-bg-color: oklch(69.501% 0.07346 148.976);
  --menu-toggle-color: oklch(100% 0.00011 271.152);
  --section-bg-opposite: oklch(0.4091 0 0);

  body {
    background: var(--body--bg-color);
  }

  section.portfolio, section.clients {
    background-color: var(--color--tertiary, oklch(35.618% 0.00004 271.152));
  }

  .nav-list a {
    color: var(--nav-text-color);
  }

  body > header {
    background-color: var(--color-primary);

    .logo {
      color: var(--menu-toggle-color);
    }
  }

  .portfolio, .clients, .portfolio-text {
    h2, h3, p, a {
      color: var(--color--opposite, oklch(97.015% 0.00011 271.152));
    }
  }

  a.btn {
      background-color: var(--btn--background-color, oklch(35.618% 0.00004 271.152));
  }

  .close-menu {
    button {
        color: var(--off-white);
       
    }
  }

  .portfolio-card h4 {
      color: var(--off-white);
  }
}
